a { color: inherit; } 

* {
    font-family: 'Roboto', sans-serif;
}
.section1 {
    max-width: 350px;
}

.img-balao {
    min-height: 300px;
    width: 330px;
    height: 300px;
}

.verdes {
    color: #198754;
}

.email {
    background-color:white;
    align-items: center;
    color: black;
}